h1 {
    text-align: center;
}

.container {
    font-family: 'Quicksand', sans-serif;
    width: 900px;
    margin: 0 auto;
}

.main .group-zodiac {
    margin: 100px auto 50px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.main .item-zodiac {
    text-align: center;
    cursor: pointer;
    padding: 15px;
}

.main .item-zodiac a {
    color: #000000;
    text-decoration: none;
}

.main .item-zodiac img {
    width: 90px;
    height: 90px;
}

.main .group-select .group-select-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .group-select .group-select-wrap .define {
    border: none;
    background: #daefd4;
    padding: 11px 20px 11px 20px;
    margin: 0 0 0 15px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: .5s;
}

.main .group-select .group-select-wrap .define:hover {
    background: #96de81;
    transition: .5s;
}

.main .group-select .css-2b097c-container:nth-child(1) {
    width: 110px;
    margin: 0 7px 0 0;
}

.main .group-select .css-2b097c-container:nth-child(2) {
    width: 150px;
    margin: 0 0 0 7px;
}

.wrap-bg {
    position: relative;
}

.wrap-bg .container {
    margin: 0;
    padding: 0 0 0 40px;
}

.wrap-bg .bg img {
    width: 100%;
}

.css-2b097c-container {
    width: 185px;
    margin: 0 0 0 30px;
}

.main .group-zodiac .item-zodiac.blur {
    filter: blur(4px);
    pointer-events: none;
}

.main .group-zodiac .item-zodiac.strike {
    filter: blur(0);
}

.wrap-bg .group-zodiac-selected .name {
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
    align-items: center;
}

.wrap-bg .group-zodiac-selected .name p {
    margin: 0;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 1px;
}

.wrap-bg .group-zodiac-selected .description {
    font-size: 20px;
}

.wrap-bg .tab-group .tab ul {
    display: inline-flex;
    list-style: none;
    border-bottom: 1px solid;
    margin: 15px 0 0 40px;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.wrap-bg .tab-group .tab ul li {
    padding: 0 15px 0 0;
    cursor: pointer;
    text-transform: uppercase;
}

.wrap-bg .tab-group .tab ul li:last-child {
    padding: 0 0 0 0;
}

.wrap-bg .tab-group .tab ul li.active {
    color: #b9314a;
}